.checkout__img{
    object-fit: contain;
    width:100%;
    max-height: 209px;
    margin-top:22px;
    margin-right:-30px;
    
}
.checkout__text{
    background-color: white;
    margin-bottom: -9px;
    margin-top: -30px;
    padding-left: 5px;
    margin-left:5px;
}


.checkout{
    width: 500vh;
}

.image{
    display: flex;
    background-color: white;
}






